/* --------------------------------------------------
  Buttons styling
-------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 6px 12px;
  background-image: none;
  font-size: 14px;
  text-align: center;

  &.btn-lg {
    padding: 20px 40px;
    font-size: 24px;
  }
}

.iwt-btn-wrapper {
  position: relative;
  display: inline-block;

  .btn-wrapper {
    display: block;

    &:hover {
      .btn-arrow {
        transform: scale(1.1);
        transition-duration: .4s;
        transition-timing-function: ease;
      }
    }
  }


  .btn-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    height: 120px;
    width: 120px;
    margin: auto;
    border: 7px solid $button-border;
    border-radius: 50%;
    background-color: $separator-color;
    text-align: center;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }


  }

  .btn-content {
    margin-left: 10px;
    padding: 30px 50px 26px 100px;
    background-color: $text-title;
    color: $white;
  }

}