/* --------------------------------------------------
	0.1 Settigns
-------------------------------------------------- */



/* ---- Colors ---- */
$white: #FFF;
$black: #000;
$header-color:#CBCAD0;
$dark-gry: #2D2D2B;
$mid-gry: #3B3938;
$red: #B5121B;
$icon-bg: #EBECEC;
$icon-color: #343434;
$agr-color:#B21817;
$text-title:#B5121B;
$separator-color: #2E2D2C;
$title-divider: #010101;
$footer-bg: #2D2D33;
$button-border: #EDEDED;

$gothic: "Century Gothic";
$gothic-url: url('/src/fonts/century-gothic-font/GOTHIC.TTF');