/* --------------------------------------------------
	0.1 Settigns
-------------------------------------------------- */



/* ---- Colors ---- */
$white: #FFF;
$black: #000000;
$header-color: #cbcad0;
$red:#FF0000;
$agr-color:#b21817;
$text-title:#b5121b;

$gothic: "Century Gothic";
$gothic-url: url('/src/fonts/century-gothic-font/GOTHIC.TTF');