/* --------------------------------------------------
	0.1 Settigns
-------------------------------------------------- */



/* ---- Colors ---- */
$white: #FFF;
$black: #000;
$header-color:#cbcad0;
$dark-gry: #2d2d2b;
$mid-gry: #3b3938;
$red: #b5121b;
$icon-bg: #ebecec;
$icon-color: #343434;
$agr-color:#b21817;
$text-title:#b5121b;
$separator-color: #2e2d2c;
$title-divider: #010101;


$gothic: "Century Gothic";
$gothic-url: url('/src/fonts/century-gothic-font/GOTHIC.TTF');